<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/events/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>EventName</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr> 
			<td>AuditoriunName</td>
			<td><input type="text" name="aud" value="<%= aud %>" /></td>
		</tr>
		<tr> 
			<td>Date</td>
			<td><input type="text" name="eventdate" value="<%= eventdate %>" /></td>
		</tr>
		<tr> 
			<td>Department</td>
			<td><input type="text" name="dept" value="<%= dept %>" /></td>
		</tr>
			<td></td>
			<td><input type="submit" name="Submit" value="Add" /></td>
		</tr>
	</table>
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
